th {
  color:purple;
}
h1 {
  color:green;
  text-align:center;
}
div {
    background-color:blue;
    color:yellow;
    height:20px;
    width:20%;
    margin:20px;
    padding:50px;
    font-size:30px;
    font-weight:bold;
    border:10px dotted purple;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width :50%;
}
th,td {
  border:1px solid black;
  padding:20px;
  font-size: 20px;
}
th {
  background-color: skyblue;
}
button {
  size:200px;
}
